* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #d8d7fe;
  font-family: "Noto Sans";
  box-shadow: 0 0 12px -4px black;
}

main {
  max-width: 720px;
  margin: 0 auto;
  padding-block: 2rem;
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;

  background-color: #fff;
}

form {
  grid-column: 2 / 3;
  display: grid;
  gap: 1.5rem;
}

input,
select,
textarea {
  width: 100%;
  height: 2rem;
  padding: 0 12px;
  margin-top: 0.5rem;
  font-family: "Noto Sans";
}

textarea {
  height: 60px;
  max-height: 120px;
  max-width: 600px;
  padding: 5px 10px;
}

div label span {
  color: red;
}

.form-section {
  display: grid;
  gap: 1rem;
  width: 100%;
  border-bottom: 1px solid #0000004f;
  padding-bottom: 2rem;
}

.section-pessoal .nome-data {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

.texto {
  display: none;
  flex-direction: column;
}

.form-section h3 {
  text-align: center;
}

#botao button {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  color: white;

  background-color: #7a5cfa;
  cursor: pointer;
  padding: 1rem 0;
  width: 100%;
  border-radius: 8px;
  border: none;
}
