* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #d8d7fe;
  font-family: "Noto Sans";
}
body.dark {
  background-color: #150c0c;
}

main.submited {
  display: none;
}

.overlay {
  display: none;
  position: absolute;
  inset: 0;
  background-color: #ebc8c8;
  align-items: center;
  justify-content: center;
  padding: 20%;
  text-align: center;
}

main {
  max-width: 720px;
  margin: 0 auto;
  padding-block: 2rem;
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  position: relative;
  box-shadow: 0 0 12px -4px black;
  background-color: #ece3e3;
  color: #100909;
}
main.dark {
  background-color: #1c1212;
  color: #f6efef;
}

form {
  grid-column: 2 / 3;
  display: grid;
  gap: 1.5rem;
}

input,
select,
textarea {
  width: 100%;
  height: 2.5rem;
  font-size: 1rem;
  padding: 0 12px;
  margin-top: 0.5rem;
  font-family: "Noto Sans";
  background-color: #e2dcda;
  border: 1px solid #e2dcda;
  border-bottom: 1px solid #c5bebe;
}
input.dark,
select.dark,
textarea.dark {
  background-color: #150c0c;
  color: #d6cfcf;
  border: 1px solid black;
  color-scheme: dark;
}

input:focus,
textarea:focus {
  outline: none;
  border-bottom: 1px solid rgb(128, 0, 53);
}

textarea {
  height: 60px;
  max-height: 120px;
  max-width: 600px;
  padding: 5px 10px;
}

label {
  color: #100909;
  font-size: 1.25;
  font-weight: 500;
}
label.dark {
  color: #c5bebe;
}

div label span {
  color: red;
}

.form-section {
  display: grid;
  gap: 1rem;
  width: 100%;
  border-bottom: 1px solid #0000004f;
  padding-bottom: 2rem;
}

.section-pessoal .nome-data {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

.texto {
  display: none;
  flex-direction: column;
}

.form-section h3 {
  font-size: 1.25rem;
  text-align: center;
}

#botao button {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
  color: white;
  background-color: #573332;
  text-transform: uppercase;
  cursor: pointer;
  padding: 1rem 0;
  width: 100%;
  border-radius: 8px;
  border: none;
}

#botao.dark button {
  color: #1c1212;
  background-color: #cda9a8;
}

.dark-mode-button {
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #fff;
  top: 1rem;
  right: 1rem;
  width: 28px;
  height: 28px;
  cursor: pointer;
}

.dark-mode-button img {
  width: 100%;
}

.loading-page {
  position: absolute;
  inset: 0;
  display: none;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-color: #ece3e3;
  transition: display 0.5s ease;
}
.loading-page.dark {
  background-color: #1c1212;
}

.loader {
  width: 100px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid;
  border-color: #860637 #0000;
  animation: l1 0.5s infinite;
}
@keyframes l1 {
  to {
    transform: rotate(0.5turn);
  }
}
