* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #ded7fe;
  font-family: "Noto Sans";
}

main {
  max-width: 720px;
  height: 100%;
  margin: 0 auto;

  padding: 40px 60px 20px;

  background-color: #fff;
}

/* mostra as perguntas obrigatórias */
div label span {
  color: red;
}

#personal-data,
#history,
#research {
  width: 100%;
  margin: 0 auto 20px;
  border-bottom: 1px solid #0000004f;
}

#personal-data h3,
#history h3,
#research h3 {
  text-align: center;
  margin-bottom: 20px;
}

#personal-data div,
#history div,
#research div {
  margin-bottom: 20px;

  display: flex;
  flex-direction: column;
  gap: 5px;
}

#personal-data div input {
  width: 100%;
  padding: 5px 10px;
  font-family: "Noto Sans";
}

/* #personal-data div input:focus {
  border: 10px solid red;
} */

#history div select,
#research div select {
  width: 100%;
  padding: 5px 10px;
  font-family: "Noto Sans";
}

#history div option,
#research div option {
  font-family: "Noto Sans";
}

#history div textarea {
  height: 60px;
  padding: 5px 10px;
}

#history .texto {
  display: none;
}

#research div {
  gap: 8px;
}

#research div label {
  text-align: justify;
  font-size: 16px;
}

#botao {
  display: flex;
  justify-content: center;
}

#botao button {
  font-size: 14px;
  color: white;

  background-color: #7a5cfa;

  padding: 8px 16px;
  border-radius: 8px;
  border: none;
}

@media screen and (max-width: 576px) {
  main {
    max-width: 500px;
  }
}

@media screen and (max-width: 337px) {
  main {
    padding: 40px 40px 20px;
  }
}
